<h1>Issues Index</h1>

<%= unless ApmPx.SessionView.logged_in?(@conn) do %>
  <div class="error"><%= gettext "Please login first" %></div>
<% else %>
  <div id="issues" class="issues">
    <%= ApmPx.IssuesView.render_issues_index(@conn) %>
  </div>
<% end %>


