<h1>Show Issue</h1>

<%= unless ApmPx.SessionView.logged_in?(@conn) do %>
  <div class="error"><%= gettext "Please login first" %></div>
<% else %>
  <div id="issues" class="issues">
    <%= ApmPx.IssuesView.render_show_issue(@conn) %>
  </div>
<% end %>


