/*               */
/* General stuff */
/*               */
button { 
  background: #3674D0; color: white;
  border: none;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

/*           */
/* Modifiers */
/*           */
.align-left { text-align: left; }
.padding-normal { padding: 0.1em; }

/*            */
/* Components */
/*            */

.menu-and-login {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.top-navigation {
  float: left;
  height: 5em;
  margin-top: 0;
  margin-bottom: 0;
}

header {
  background: lightgray;
  height: 9em;
}

.main {
  margin: 0;
  padding: 1em;
}

/* Login component in header */
.login { font-size: x-small; height: 5em; float: right; text-align: left; padding-left: 2em; }
.login > h2 { margin-top: 0px; font-size: x-small; }
.login .login-form { }
.login .login-form label { }
.login .login-form input { }
.login .login-form select {  }


/* Landing Page */
.project-readme {
  padding: 2em;
}

/* Messages and hints */
.error {
  padding: 1em;
  background-color: darkred;
  color: white;
  border: 1px solid black;
}

/* Forms */

.form-default {
  padding: 1em;
  border: 1px solid #ddd;
}

.form-default label {
  margin-top: 0.5em;
  width: 9em;
}

.form-default input {
  width: 100%;
}

.form-default textarea {
  width: 100%;
  height: 5em;
}

.form-default .form-actions {
  margin-top: 1em;
}
.form-default .form-actions button {
  font-size: larger;
}

.form-default .input-text,
.form-default .input-field {
  border: 1px solid #ddd;
}
